<footer class="footer">
  <section class="footer-wrap">
    <ul class="footer-list">
      <li class="footer-link"><a href="/" class="terms">© Dental Clinic EMR System 2022</a></li>
    </ul>
  </section>
</footer>
</body>
</html>