<%- include ('./partials/header.ejs')%>
<section>
  <div class="row">
    <div class="col">
      <div class="info">
        <h2>Welcome to the Dental Clinic EMR System !!!!</h2>
        <p>Book and Manage your appointments here..!!</p>
        <p>Healthcare made easy.</p>
      </div>
    </div>
  </div>
</section>
<%- include ('./partials/footer.ejs')%>
